

<section>
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <div class="row">
    <div class="container-fluid">
      <div class="row text-left">
        <div class="col-md-8">

          <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span style="font-size: 15px">Home</span></a>
            <span style="font-size: 15px">/Candidate</span>
            <!-- <span style="font-size: 15px">/{{storename}}</span> -->

          </p>
        </div>

      </div>
    </div>
  </div>
</section>


  <!--  -->

  <!--  -->

  <div class="card">

    <!-- Header Container -->
    <div class="card-header d-flex justify-content-between align-items-center">
      <!-- Search Input -->

      <div class="input-group w-50 w-sm-auto">
        <input type="text" class="form-control" placeholder="Global Search" (input)="onGlobalFilter1($event)" />
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </div>
      <!-- Add New Vendor Button -->
      <button (click)="navigateToCreateCandidate()" class="btn btn-outline-primary">
        <i class="bi bi-person-plus"></i> Add New
      </button>
    </div>

    <!-- Candidate Table  when ever candidate login -->
    <div class="table-container" *ngIf="isCandidateLoggedIn; else candidateList">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 10%">Firstname</th>
            <th style="width: 10%">Lastname</th>
            <th style="width: 10%">Email</th>
            <th style="width: 10%">Mobile</th>
            <th style="width: 10%">Source</th>
            <th style="width: 10%">Current Location</th>
            <th style="width: 10%">Preferred Location</th>
            <th style="width: 10%">Available To Join</th>
            <th style="width: 10%">Stage</th>
            <!-- <th style="width: 10%">Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="candidate1">
            <td>{{ candidate1.firstName }}</td>
            <td>{{ candidate1.lastName }}</td>
            <td>{{ candidate1.email }}</td>
            <td>{{ candidate1.mobile }}</td>
            <td>{{ candidate1.source.name }}</td>
            <td>{{ candidate1.current.name }}</td>
            <td>{{ candidate1.preferred.name }}</td>
            <td>{{ candidate1.avialToJoin }}</td>
            <td>{{ candidate1.stage }}</td>
            <!-- <td>
              <div class="button-container">
                <button pButton class="p-button-sm p-button-rounded p-button-success mr-2" (click)="handleEditCandidate(candidate)" icon="pi pi-pencil"></button>
                <button pButton class="p-button-sm p-button-rounded p-button-danger" (click)="candidateDelete(candidate)" icon="pi pi-trash"></button>
                <button pButton class="p-button-sm p-button-rounded p-button-secondary" (click)="openNew(candidate)" icon="pi pi-ellipsis-v"></button>
                <button pButton class="p-button-sm p-button-rounded p-button-secondary" (click)="openHiringFlow(candidate)" icon="pi pi-eye"></button>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  

    <!-- Candidate List Template when Admin,Recruiter or vendor login -->
    <ng-template #candidateList>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 10%">Firstname</th>
              <th style="width: 10%">Lastname</th>
              <th style="width: 10%">Email</th>
              <th style="width: 10%">Mobile</th>
              <th style="width: 10%">Source</th>
              <th style="width: 10%">Current Location</th>
              <th style="width: 10%">Preferred Location</th>
              <th style="width: 10%">Available To Join</th>
              <th style="width: 10%">Stage</th>
              <th style="width: 10%" *ngIf="!isVendor && (isAdmin || isRecruiter)">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of candidates">
              <td>{{ candidate.firstName }}</td>
              <td>{{ candidate.lastName }}</td>
              <td>{{ candidate.email }}</td>
              <td>{{ candidate.mobile }}</td>
              <td>{{ candidate.source.name }}</td>
              <td>{{ candidate.current.name }}</td>
              <td>{{ candidate.preferred.name }}</td>
              <td>{{ candidate.avialToJoin }}</td>
              <td>{{ candidate.stage }}</td>
              <td *ngIf="!isVendor && (isAdmin || isRecruiter)">
                <div class="button-container">
                  <button pButton class="p-button-sm p-button-rounded p-button-success mr-2"
                    (click)="handleEditcandidate(candidate)" icon="pi pi-pencil"></button>
                  <button pButton class="p-button-sm p-button-rounded p-button-danger"
                    (click)="candidateDelete(candidate)" icon="pi pi-trash"></button>
                  <button pButton class="p-button-sm p-button-rounded p-button-secondary" (click)="openNew(candidate)"
                    icon="pi pi-ellipsis-v"></button>
                  <button pButton class="p-button-sm p-button-rounded p-button-secondary"
                    (click)="openHiringFlow(candidate)" icon="pi pi-eye"></button>
                </div>
              </td>
            </tr>
            <tr *ngIf="candidates.length === 0">
              <td colspan="10" class="no-records-message">No records found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>

    <!-- Pagination Container -->
    <div class="d-flex justify-content-between align-items-center mt-3" *ngIf="!isCandidateLoggedIn && (isAdmin || isRecruiter || isVendor) && totalElements > 0">
      <div>
        Showing {{ pagination.number * pagination.size + 1 }} to {{ (pagination.number + 1) * pagination.size }} of {{ totalElements }} entries
      </div>
      <div class="btn-group">
        <button class="btn btn-outline-secondary" (click)="goToFirstPage()">&laquo; First</button>
        <button class="btn btn-outline-secondary" (click)="goToPreviousPage()" [disabled]="pagination.first">&laquo; Prev</button>
        <button class="btn btn-outline-secondary" (click)="goToNextPage()" [disabled]="pagination.last">Next &raquo;</button>
        <button class="btn btn-outline-secondary" (click)="goToLastPage()">Last &raquo;</button>
      </div>
      <!-- Page Size Selector -->
      <select class="form-select" (change)="onRecordsPerPageChange($event)">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>

    <!-- Bootstrap Modal for Hiring Flow Stages -->
    <div class="modal fade" id="productDialog" tabindex="-1" aria-labelledby="productDialogLabel" aria-hidden="true" [class.show]="productDialog" (click)="hideDialog()">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="productDialogLabel">HiringFlow Stages</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="hideDialog()"></button>
          </div>
          <div class="modal-body">
            <div class="form-check form-check-inline" *ngFor="let stage of stages">
              <input class="form-check-input" type="radio" [id]="stage.toLowerCase()" name="stage" [value]="stage" [(ngModel)]="temporaryStage" [disabled]="stages.indexOf(stage) <= stages.indexOf(selectededCandidate.stage)" />
              <label class="form-check-label" [for]="stage.toLowerCase()">{{ stage }}</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="hideDialog()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="updateCandidate(selectededCandidate, temporaryStage)">Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  
