<!-- <div class="row">
  <div class="col-sm-9">
    <div class="content-header">Angular Wizard</div>
  </div>
</div> -->
<section>
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <div class="row">

        <div class="col-md-8">

          <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span style="font-size: 15px">Home</span></a>
            <span style="font-size: 15px">/Create Candidate</span>
            <!-- <span style="font-size: 15px">/{{storename}}</span> -->

          </p>
        </div>

      </div>

</section>

<section id="ngx">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <aw-wizard #wizard navBarLayout="large-empty-symbols">
          <!-- Step 1: Candidate Information -->
          <aw-wizard-step [stepTitle]="'Candidate Information'"
            [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
            <form #candidateForm="ngForm" novalidate>
              <!-- <h4 class="text-center">Please provide the candidate details.</h4> -->
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="firstname">First Name<span [style.display]="candidate.firstName ? 'none' : 'inline'"
                      class="text-danger">*</span></label>
                  <input class="form-control" id="firstname" name="firstname" type="text" placeholder="Enter First Name"
                    [(ngModel)]="candidate.firstName" required #firstname="ngModel" />
                  <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                    <div class="text-danger">First Name is Required</div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="lastName">Last Name<span [style.display]="candidate.lastName ? 'none' : 'inline'"
                      class="text-danger">*</span></label>
                  <input class="form-control" id="lastName" name="lastName" type="text" placeholder="Enter Last Name"
                    [(ngModel)]="candidate.lastName" required #lastName="ngModel" />
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <div class="text-danger">Last Name is Required</div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="email">Email<span [style.display]="candidate.email ? 'none' : 'inline'"
                      class="text-danger">*</span></label>
                  <input class="form-control" id="email" name="email" type="email" placeholder="Enter Email"
                    [(ngModel)]="candidate.email" required email #email="ngModel" />
                  <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div class="text-danger">Invalid Email Format</div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="mobile">Mobile<span [style.display]="candidate.mobile ? 'none' : 'inline'"
                      class="text-danger">*</span></label>
                  <input class="form-control" id="mobile" name="mobile" type="text" placeholder="Enter Mobile Number"
                    [(ngModel)]="candidate.mobile" required pattern="[0-9]{10}" #mobile="ngModel" />
                  <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                    <div class="text-danger">Mobile Number is Required & Its accept only 10 digits</div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="alterMobile">Alternate Mobile No</label>
                  <input class="form-control" id="alterMobile" name="alterMobile" type="text"
                    placeholder="Enter Alt Mobile Number" [(ngModel)]="candidate.alterMobile" pattern="[0-9]{10}"
                    #alterMobile="ngModel" />
                  <div *ngIf="alterMobile.invalid && (alterMobile.dirty || alterMobile.touched)">
                    <div class="text-danger">Alternate Mobile Number is Required & Its accept only 10 digits</div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="avialToJoin">Notice Period<span
                      [style.display]="candidate.avialToJoin ? 'none' : 'inline'" class="text-danger">*</span></label>
                  <input class="form-control" id="avialToJoin" name="avialToJoin" type="text"
                    placeholder="Enter Notice Period" [(ngModel)]="candidate.avialToJoin" required
                    #avialToJoin="ngModel" />
                  <div *ngIf="avialToJoin.invalid && (avialToJoin.dirty || avialToJoin.touched)">
                    <div class="text-danger">Notice Period is required</div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="currentSalary">Current Salary (LPA) (INR)<span
                      [style.display]="candidate.currentSalary ? 'none' : 'inline'" class="text-danger">*</span></label>
                  <input class="form-control" id="currentSalary" name="currentSalary" type="number"
                    placeholder="Enter Current Salary" [(ngModel)]="candidate.currentSalary" required
                    #currentSalary="ngModel" />
                  <div *ngIf="currentSalary.invalid && (currentSalary.dirty || currentSalary.touched)">
                    <div class="text-danger">Current Salary is Required</div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="expectedSalary">Expected Salary (LPA) (INR)<span
                      [style.display]="candidate.expectedSalary ? 'none' : 'inline'"
                      class="text-danger">*</span></label>
                  <input class="form-control" id="expectedSalary" name="expectedSalary" type="number"
                    placeholder="Enter Expected Salary" [(ngModel)]="candidate.expectedSalary" required
                    #expectedSalary="ngModel" />
                  <div *ngIf="expectedSalary.invalid && (expectedSalary.dirty || expectedSalary.touched)">
                    <div class="text-danger">Expected Salary is required</div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="gender">Gender<span [style.display]="candidate.gender ? 'none' : 'inline'"
                      class="text-danger">*</span></label>
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="male" name="gender" [(ngModel)]="candidate.gender"
                      value="Male" required #maleGender="ngModel" />
                    <label class="form-check-label" for="Male">Male</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="female" name="gender"
                      [(ngModel)]="candidate.gender" value="Female" required #femaleGender="ngModel" />
                    <label class="form-check-label" for="female">Female</label>
                  </div>
                  <div *ngIf="(maleGender.invalid || femaleGender.invalid) && (maleGender.dirty || femaleGender.dirty)">
                    <div class="text-danger">Please Select Gender</div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="dateOfBirth">Date Of Birth<span
                      [style.display]="candidate.dateOfBirth ? 'none' : 'inline'" class="text-danger">*</span></label>
                  <input class="form-control" id="dateOfBirth" name="dateOfBirth" type="date"
                    [(ngModel)]="candidate.dateOfBirth" placeholder="Select Date of Birth" [max]="todayDate()" />
                  <div
                    *ngIf="candidateForm.controls['dateOfBirth'].invalid && (candidateForm.controls['dateOfBirth'].dirty || candidateForm.controls['dateOfBirth'].touched)">
                    <small class="text-danger">Date of Birth is Required.</small>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="job">Job<span [style.display]="candidate.job ? 'none' : 'inline'"
                      class="text-danger">*</span></label>
                  <select class="form-control" [(ngModel)]="candidate.job" name="job" required>
                    <option *ngFor="let job of jobs" [ngValue]="job">
                      {{ job.title }}
                    </option>
                  </select>
                  <div
                    *ngIf="!candidate.job && (candidateForm.controls['job'].dirty || candidateForm.controls['job'].touched)"
                    class="text-danger">
                    Job is required
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="source">Source<span [style.display]="candidate.source ? 'none' : 'inline'"
                      class="text-danger">*</span></label>
                  <select class="form-control" [(ngModel)]="candidate.source" name="source" required>
                    <option *ngFor="let source of sources" [ngValue]="source">
                      {{ source.name }}
                    </option>
                  </select>
                  <div
                    *ngIf="!candidate.source && (candidateForm.controls['source'].dirty || candidateForm.controls['source'].touched)"
                    class="text-danger">
                    Source is required
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="current">Current Location<span [style.display]="candidate.current ? 'none' : 'inline'"
                      class="text-danger">*</span></label>
                  <select class="form-control" [(ngModel)]="candidate.current" name="current" required>
                    <option *ngFor="let location of locations" [ngValue]="location">
                      {{ location.name }}
                    </option>
                  </select>
                  <div
                    *ngIf="!candidate.current && (candidateForm.controls['current'].dirty || candidateForm.controls['current'].touched)"
                    class="text-danger">
                    Current Location is required
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="preferred">Preferred Location<span
                      [style.display]="candidate.preferred ? 'none' : 'inline'" class="text-danger">*</span></label>
                  <select class="form-control" [(ngModel)]="candidate.preferred" name="preferred" required>
                    <option *ngFor="let location of locations" [ngValue]="location">
                      {{ location.name }}
                    </option>
                  </select>
                  <div
                    *ngIf="!candidate.preferred && (candidateForm.controls['preferred'].dirty || candidateForm.controls['preferred'].touched)"
                    class="text-danger">
                    Preferred Location is required
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label for="skills">Skills</label>
                  <input class="form-control" id="skills" name="skills" type="text" placeholder="Enter Skills"
                    [(ngModel)]="candidate.skills" />
                </div>
              </div>

              <!-- Next Button -->
              <!-- <div class="button-container text-end">
                <button *ngIf="currentStep < totalSteps - 1" (click)="nextStep()" class="btn btn-primary">
                  Next
                </button>
              </div> -->
              <div class="form-group text-center">
                <button type="button" uiSref="work" class="btn btn-info btn-raised" awNextStep>
                  Next
                  <span style="margin-left:10px;">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </form>
          </aw-wizard-step>

          <!-- Step 2: Education Details -->
          <aw-wizard-step [stepTitle]="'Education Details'"
            [navigationSymbol]="{ symbol: '&#xf0ac;', fontFamily: 'FontAwesome' }">
            <form #educationForm="ngForm">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="course" class="form-label">Course<span class="text-danger"
                      *ngIf="!education.course">*</span></label>
                  <input id="course" name="course" type="text" class="form-control" [(ngModel)]="education.course" />
                </div>
                <div class="col-md-6">
                  <label for="branch" class="form-label">Specialization<span class="text-danger"
                      *ngIf="!education.branch">*</span></label>
                  <input id="branch" name="branch" type="text" class="form-control" [(ngModel)]="education.branch" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="startOfCourse" class="form-label">Start of Course</label>
                  <input id="startOfCourse" name="startOfCourse" type="date" class="form-control"
                    [(ngModel)]="education.startOfCourse" (ngModelChange)="updateEndDateMinDate()" />
                </div>
                <div class="col-md-6">
                  <label for="endOfCourse" class="form-label">End of Course</label>
                  <input id="endOfCourse" name="endOfCourse" type="date" class="form-control"
                    [(ngModel)]="education.endOfCourse" [min]="education.startOfCourse" />
                  <div class="text-danger" *ngIf="education.endOfCourse < education.startOfCourse">
                    End date cannot be before start date.
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="college" class="form-label">College<span class="text-danger"
                      *ngIf="!education.college">*</span></label>
                  <input id="college" name="college" type="text" class="form-control" [(ngModel)]="education.college" />
                </div>
                <div class="col-md-6">
                  <label for="university" class="form-label">University<span class="text-danger"
                      *ngIf="!education.university">*</span></label>
                  <input id="university" name="university" type="text" class="form-control"
                    [(ngModel)]="education.university" />
                </div>
                <div class="col-md-6">
                  <label for="location" class="form-label">Location<span class="text-danger"
                      *ngIf="!education.location">*</span></label>
                  <input id="location" name="location" type="text" class="form-control"
                    [(ngModel)]="education.location" />
                </div>
              </div>
              <button class="btn btn-primary mt-3" (click)="submitEducation()">
                Save
              </button>

              <!--  -->
              <!-- Education Table -->
              <div *ngIf="educationDetails.length > 0" class="table-responsive mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Course</th>
                      <th>Specialization</th>
                      <th>Start of Course</th>
                      <th>End of Course</th>
                      <th>College</th>
                      <th>University</th>
                      <th>Location</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let edu of educationDetails; let i = index">
                      <td>{{ edu.course }}</td>
                      <td>{{ edu.branch }}</td>
                      <td>{{ edu.startOfCourse }}</td>
                      <td>{{ edu.endOfCourse }}</td>
                      <td>{{ edu.college }}</td>
                      <td>{{ edu.university }}</td>
                      <td>{{ edu.location }}</td>
                      <td>
                        <button class="btn btn-success btn-sm" (click)="EditEducation(i)">
                          <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteEducation(i)">
                          <i class="bi bi-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--  -->
              <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                  <span style="margin-right:10px;">
                    <i class="ft-chevron-left"></i>
                  </span> Previous</button>
                <button uiSref="address" type="button" class="btn btn-raised btn-info" awNextStep>
                  Next
                  <span style="margin-left:10px;">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </form>
          </aw-wizard-step>

          <!-- Step 3: Experience Details -->
          <aw-wizard-step [stepTitle]="'Experience Details'"
            [navigationSymbol]="{ symbol: '&#xf0ac;', fontFamily: 'FontAwesome' }">
            <form #experienceForm="ngForm">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="company" class="form-label">Company<span class="text-danger"
                      *ngIf="!experience.company">*</span></label>
                  <input id="company" name="company" type="text" class="form-control"
                    [(ngModel)]="experience.company" />
                </div>
                <div class="col-md-6">
                  <label for="jobTitle" class="form-label">Job Title<span class="text-danger"
                      *ngIf="!experience.jobTitle">*</span></label>
                  <input id="jobTitle" name="jobTitle" type="text" class="form-control"
                    [(ngModel)]="experience.jobTitle" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="dateOfJoining" class="form-label">Date of Joining</label>
                  <input id="dateOfJoining" name="dateOfJoining" type="date" class="form-control"
                    [(ngModel)]="experience.dateOfJoining" (ngModelChange)="updateEndDateMinDate1()" />
                </div>
                <div class="col-md-6">
                  <label for="dateOfRelieving" class="form-label">Date of Relieving</label>
                  <input id="dateOfRelieving" name="dateOfRelieving" type="date" class="form-control"
                    [(ngModel)]="experience.dateOfRelieving" [min]="experience.dateOfJoining" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="location" class="form-label">Location<span class="text-danger"
                      *ngIf="!experience.location">*</span></label>
                  <input id="location" name="location" type="text" class="form-control"
                    [(ngModel)]="experience.location" />
                </div>
              </div>
              <!--  -->
              <!-- Experience Table -->
              <div *ngIf="experienceDetails.length > 0" class="table-responsive mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Company</th>
                      <th>Job Title</th>
                      <th>Date of Joining</th>
                      <th>Date of Relieving</th>
                      <th>Location</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let exp of experienceDetails; let i = index">
                      <td>{{ exp.company }}</td>
                      <td>{{ exp.jobTitle }}</td>
                      <td>{{ exp.dateOfJoining }}</td>
                      <td>{{ exp.dateOfRelieving }}</td>
                      <td>{{ exp.location }}</td>
                      <td>
                        <button class="btn btn-success btn-sm" (click)="editExperience(i)">
                          <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteExperience(i)">
                          <i class="bi bi-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!--  -->
              <button class="btn btn-primary mt-3" (click)="submitExceperience()">
                Save
              </button>

              <!--  -->
              <div class="text-center">
                <button type="button" class="btn btn-secondary" awPreviousStep>
                  <span style="margin-right:10px;">
                    <i class="ft-chevron-left"></i>
                  </span> Previous
                </button>
                <button type="button" class="btn btn-info" awNextStep>
                  Next
                  <span style="margin-left:10px;">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
              <!--  -->
            </form>
          </aw-wizard-step>

          <!-- Step 4: Confirm Details -->
          <aw-wizard-step [stepTitle]="'Confirm Details'"
            [navigationSymbol]="{ symbol: '&#xf0ac;', fontFamily: 'FontAwesome' }">
            <form #confirmForm="ngForm">
              <h4 class="text-center">Confirm All Details</h4>
              <div class="row">
                <!-- Summary of all provided information for final confirmation -->
                <!-- Copy the summary-related fields from the original code here -->
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-secondary" awPreviousStep>
                  <span style="margin-right:10px;">
                    <i class="ft-chevron-left"></i>
                  </span> Previous
                </button>
                <button type="button" class="btn btn-success" awResetWizard>
                  Finish
                  <span style="margin-left:10px;">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </form>
          </aw-wizard-step>
        </aw-wizard>
      </div>
    </div>
  </div>
</section>