<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Client Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <section>
    <link rel="stylesheet" type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <div class="row">
      <div class="container-fluid">
        <div class="row text-left">
          <div class="col-md-8">

            <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span style="font-size: 15px">Home</span></a>
              <span style="font-size: 15px">/Edit Client</span>
              <!-- <span style="font-size: 15px">/{{storename}}</span> -->

            </p>
          </div>

        </div>
      </div>
    </div>
  </section>
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <form #editClientForm="ngForm">
          <div class="form-row">
            <!-- Client details -->
            <div class="form-group col-12 col-md-6">
              <label for="companyName">Client Name</label>
              <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Enter Client Name" [(ngModel)]="client.companyName" required #companyName="ngModel" />
              <div *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)" class="text-danger">
                <div *ngIf="companyName.errors">Client Name is required</div>
              </div>
            </div>

            <div class="form-group col-12 col-md-6">
              <label for="location">Location</label>
              <input type="text" class="form-control" id="location" name="location" placeholder="Enter Location" [(ngModel)]="client.location" required #location="ngModel" />
              <div *ngIf="location.invalid && (location.dirty || location.touched)" class="text-danger">
                <div *ngIf="location.errors">Client Location is required</div>
              </div>
            </div>
          </div>

          <h6>Add POCs Details:</h6>
          <div class="form-row">
            <div class="form-group col-12 col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter POC Name" [(ngModel)]="pointToContact.name" required #name="ngModel" />
            </div>
            <div class="form-group col-12 col-md-6">
              <label for="mobile">Mobile</label>
              <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter Mobile Number" [(ngModel)]="pointToContact.mobile" required pattern="[0-9]*" #mobile="ngModel" />
            </div>
            <div class="form-group col-12 col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" [(ngModel)]="pointToContact.email" required email #email="ngModel" />
            </div>
          </div>

          <!-- Submit button -->
          <div class="form-row">
            <div class="form-group col-12">


              <button type="button" class="btn btn-raised btn-primary" (click)="submitPocs()">Add POC</button>


            </div>
          </div>
        </form>

        <!-- POCs Table -->
        <div *ngIf="pointToContacts.length > 0" class="mt-4">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Mobile No</th>
                <th>Email Id</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let edu of pointToContacts; let i = index">
                <td>{{ edu.name }}</td>
                <td>{{ edu.mobile }}</td>
                <td>{{ edu.email }}</td>
                <td>
                  <button class="btn btn-success btn-sm mr-2" (click)="EditPoc(i)">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="deletePoc(i)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Action buttons -->
        <div class="text-right mt-4">
          <button type="button" class="btn btn-raised btn-warning mr-1" (click)="cancel()">
            <i class="ft-x"></i> Cancel
          </button>
          <button type="button" class="btn btn-raised btn-primary" (click)="updateClient()"
             ><i class="fa fa-check-square-o"></i>Update</button>

        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Font Awesome for Icons -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>

